<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://rakjsu.neostream.tv" version="1.0.0" viewmodes="maximized">
    <tizen:application id="RakjsuNeo1.NeoStreamTV" package="RakjsuNeo1" required_version="5.5"/>
    <content src="index.html"/>
    <name>NeoStreamTV</name>
    <access origin="*" subdomains="true"/>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <!-- Sem este privilégio o tvinputdevice.registerKey é NO-OP na TV real:
         CH+/-, dígitos e color keys nunca chegam ao app -->
    <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>
    <!-- Abrir o trailer no app externo (item 18). Sem este privilegio o
         launchAppControl lanca SecurityError e o botao de trailer some
         sozinho na TV, porque podeAbrirExterno() passa a devolver false. -->
    <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
    <tizen:profile name="tv-samsung"/>
    <tizen:setting screen-orientation="landscape" context-menu="enable" background-support="disable" encryption="disable" install-location="auto" hwkey-event="enable"/>
</widget>
